# Android Release Signing Configuration
# Copy this file to 'key.properties' and fill in your keystore details
# DO NOT commit key.properties to version control!

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
storeFile=../keystore/picom-release-key.jks

# To generate a new keystore:
# keytool -genkey -v -keystore picom-release-key.jks -keyalg RSA -keysize 2048 -validity 10000 -alias picom

# Store the keystore file in: android/keystore/picom-release-key.jks
# Make sure to add 'android/keystore/' and 'android/key.properties' to .gitignore
